@import './fonts/stylesheet.css';

 @-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

 @-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.slide-in-bottom {
	-webkit-animation: slide-in-bottom 0.25s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-bottom 0.25s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-in-top {
	-webkit-animation: slide-in-top 0.15s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-top 0.15s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  padding: 0;
  margin: 0;
}

$primary-font: 'Montserrat', sans-serif, monospace;

body {
  height: 100vh;
  width: 100%;
  font: 300 16px/16px $primary-font;
  color: #202020;
}

// MAIN PAGE CONTAINER ---------------------//
.main-container {
  display: flex;
  height: 100%;
  width: 100%;
  flex-flow: row nowrap;
  background: darkred;
}

// TODO LIST WINDOW ------------------------//
.todo-list-main-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  height: 75%;
  background: rgb(51, 51, 51);
  padding: 10px;

  .project-form-container {
    display: flex;
    width: 100%;
    height: 15%;

    .edit-project-title-container {
      display: flex;
      justify-content: space-between;
      flex-flow: row nowrap;
      align-items: center;
      width: 100%;
      height: 80px;
      position: relative;

      input {
        height: 75px;
        top: 0;
        width: 70%;
        position: absolute;
        left: 25%;
        transform: translateX(-25%);
        border: none;
        outline: none;
        background-color: transparent;
        font: 400 26px/30px $primary-font;
        color: #dcdcdc;

        &::placeholder {
          font: 500 26px/30px $primary-font;
          color: #D7BDE2;
        }
      }

      button {
        height: 70%;
        width: auto;
        background-color: transparent;
        border-radius: 8px;
        border: 3px solid #AF7AC5;
        transition-duration: 0.15s;
        -webkit-box-shadow: inset 0px 0px 7px 1px rgba(131,92,148,1);
        -moz-box-shadow: inset 0px 0px 7px 1px rgba(131,92,148,1);
        box-shadow: inset 0px 0px 7px 1px rgba(131,92,148,1);
        padding: 0;
        padding: 4px 6px 6px 6px;

        p {
          font: 600 14px/20px $primary-font;
          color: #AF7AC5;
          margin: 0;
        }

        &:hover,
        &:focus {
          transition-duration: 0.2s;
          -webkit-box-shadow: inset 0px 0px 15px 3px rgba(131,92,148,1);
          -moz-box-shadow: inset 0px 0px 15px 3px rgba(131,92,148,1);
          box-shadow: inset 0px 0px 15px 3px rgba(131,92,148,1);  
        }

        &:hover {
          outline: none;
        }
      }
    }
  }

  .todo-list-tasks {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
    height: 80%;
    padding: 3px;
    overflow: hidden;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.4);

    .todo-list-item-container {
      color: wheat;
      position: relative;
      width: 100%;
      height: 70px;
      border-radius: 4px;
      background: rgba(256, 256, 256, 0.1);
      display: flex;
      margin: 3px 0;
      z-index: 10;
      padding: 0;

      .project-task-input {
        background: transparent;
        outline: none;
        border: none;
        width: 70%;
        padding-left: 20px;
        font: 400 22px/22px $primary-font;
        color: #dcdcdc;

        &::placeholder {
          color: #D7BDE2;
        }
      }

      .list-item-priority {
        margin-left: auto;
      }

      .list-item-priority,
      .list-item-delete-button,
      .list-item-down-arrow {
        background: transparent;
        outline: none;
        border: none;
        width: 60px;
        svg {
          font-size: 22px;
          color: #D7BDE2;
        }
      }

      .list-item-down-arrow {
        padding-bottom: 10px;
        margin-left: -5px;
      }
    }

    .drop-container {
      position: relative;
      flex-flow: column nowrap;
      height: 150px;
      background-color: #424242;
      z-index: 2;
      
      .description-container {
        width: 100%;
        height: 70%;
        padding: 10px 10px 0 10px;
        
        .description-input {
          height: 100%;
          width: 100%;
          overflow-wrap: break-word;
        }
      }

      .date-container {
        display: flex;
        width: 100%;
        height: 30%;
        justify-content: center;
        align-items: center;
        position: relative;

        input {
          height: 70%;
        }

        .date-display,
        .date-input {
          max-width: 50%;
          background-color: transparent;
          border: none;
          outline: none;
          font: 400 20px/20px $primary-font;
          &::placeholder {
            color: #D7BDE2;
          }
          &::-webkit-calendar-picker-indicator {
            filter: invert(1);
        }
        }

        .date-input {
          color: #dcdcdc;
        }

        .date-back-button {
          position: absolute;
          right: 10px;
          top: 4px;
          border: 50%;
          height: 35px;
          width: 75px;
          background-color: #D7BDE2;
          border-radius: 4px;
          border: none;
          color: #303030;
          font: 600 14px/14px $primary-font;

          &:focus {
            outline: none;
            border: none;
          }
        }
      }
    }
  }

  .todo-list-tasks {
    display: flex;
    width: 100%;
    height: 80%;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
  }
}

.hidden { 
  display: none;
}

.rotate {
  transform: rotate(180deg);
}
